<div class="container mt-5">
  <h1 class="text-center">BLOG</h1>
  <div class="d-grid col-12 col-md-8 col-lg-6 mx-auto mt-4">
    <div class="card">
      <div class="card-body">
        <%= button_to "ログイン", "/auth/auth0",
                      form_class: "d-grid gap-2 col-12 mx-auto", class: "btn btn-primary btn-lg",
                      method: :post, data: { turbo: false }
        %>
        <div class="text-center mt-4">
          <%= link_to "トップに戻る", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>

