<ul class="navbar-nav d-flex">
  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
      <%= helpers.userinfo["name"] %>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><%= link_to "ログアウト", auth_logout_path, class: "dropdown-item" %></li>
    </ul>
  </li>
</ul>
